# Node
frontend/node_modules
frontend/dist
frontend/cypress/videos
frontend/cypress/screenshots
frontend/coverage
frontend/.env.local

# Go
backend/bin
backend/data
backend/.env

# Editors
.DS_Store
.vscode/
