# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/

# Metro
.metro-health-check*

# Debug
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store

# Environment
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Testing
coverage/
